{% extends 'base/main.html' %}
{% block content %}

<h1>Sign Up</h1>

<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
</br>
    <div>
        {{ form.password1.label }}
        {{ form.password1 }}
    </div> 
</br>
    <div>
        {{ form.password2.label }}
        {{ form.password2 }}
    </div>
</br>
    <input class="signin-button" type="submit" value="register">
</form>

<p>
    Already have an account? <a href="{% url 'login' %}"> Login </a>
</p>

{% endblock content %}