@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background: url('../images/wp6298136-pink-sky-aesthetic-pc-wallpapers.png');
    background-color: bisque;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    padding-top: 40px;
    font-size: 70px;
}

#logout-button {
    margin-top: -190px;
    margin-right: 20px;
    float: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding-bottom: 80px;
}

.flex-items:hover {
    transform: scale(1.1);
    -moz-box-shadow: 15px 18px 2px -1px rgb(59, 63, 65);
    -webkit-box-shadow: 15px 18px 2px -1px rgb(59, 63, 65);
    -ms-box-shadow: 15px 18px 2px -1px rgb(59, 63, 65);
    box-shadow: 15px 18px 2px -1px rgb(59, 63, 65);
}

.flex-items {    
    width: 400px;
    height: 300px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; 
    background-color: rgb(238, 231, 241);
    transition: transform .2s; 
    -moz-box-shadow: 15px 18px 2px -1px rgb(42, 49, 51);
    -webkit-box-shadow: 15px 18px 2px -1px rgb(42, 49, 51);
    -ms-box-shadow: 15px 18px 2px -1px rgb(42, 49, 51);
    box-shadow: 15px 18px 2px -1px rgb(42, 49, 51);
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-container h2 {
    padding: 90px;
    margin-bottom: -60px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 14px 25px;
    color: white;
    background-color: rgb(226,153,173);
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(252,179,162);
  }

.form {
    float:left;
    margin-left: 80px;
    margin-right: -70px;
}

.form #submit {
    border: none;
    border-radius: 5px;
    padding: 14px 25px;
    color: white;
    background-color: rgb(226,153,173);
    margin-bottom: 10px;
}

.form #submit:hover {
    background-color: rgb(252,179,162);
  }


.tasklist h3 {
    background: rgb(214,153,184);
    background: linear-gradient(152deg, rgba(214,153,184,1) 17%, rgba(255,191,162,1) 79%);
    margin-top: -5px;
    padding: 45px;
    border-radius: 20px 20px 0px 0px;
}

.tasklist .flex-container {
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: stretch;
}

.tasklist .flex-items {  
    height: 500px;  
    border-radius: 20px;
}

.task-name { 
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signin-button {
    border: none;
    border-radius: 5px;
    padding: 14px 25px;
    color: white;
    background-color: rgb(226,153,173);
    margin-bottom: 10px; 
}

#signup-form {
    justify-content: left;
}