{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
{% else %}
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}

<hr>
<h1>Your Workspaces</h1> 
<a href="{% url 'new-workspace' %}">Add a workspace</a>

<table>
    <tr>
        <th> Item </th>
        <th></th>
        <th></th>
    </tr>
    {% for workspace in workspaces %}
    <tr>
        <th> {{ workspace.workspace_name }} </th>
        <form method="GET" action="{% url 'view-workspace' %}">
            <input type="hidden" name='id' value="{{ workspace.id }}">
            <td><input type="submit" value='view'></td>
        </form>
        <td><a href="{% url 'edit-workspace' workspace.id %}">Edit</td>
        <td><a href="{% url 'delete-workspace' workspace.id %}">Delete</td>

    </tr>
    {% empty %}
    <h3> You currently have no workspaces </h3>
    {% endfor %}
</table>